body {
  background-image: url('https://res.cloudinary.com/dcba9lt2s/image/upload/v1703375299/kxsyafcef9tbso5utuqa.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin: 0;
}

.card {
  padding: 30px 20px;
  width: 400px;
  height: 200px;
  display: flex;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  margin: auto; 
  margin-right: 60px;
  
}

.image {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  text-align: start;
  margin-left: 20px;
  margin-top: 60px;
}
